body{
    background-color: white;
    padding: 20px;
}
/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;
    
} */
.logo{
    display: flex;
    align-items: center;
    gap: 100px;

}
.links{
    display: flex;
    gap: 60px;
}
a{
    text-decoration: none;

}
.writing{
    font-size: 25px;
    /* font-weight: bold; */
}
.writing:hover{
    cursor: pointer;
   color: #c4cbd4;
   text-decoration: underline rgb(172, 25, 25);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    /* background: linear-gradient(#ed4264, #ffedbc); */
    /* background: linear-gradient(#ed4264, #ffedbc); */
  /* background-repeat: no-repeat; */background-color: #F9F7F7;

  
}

.searchbar{
    width: 400px;
    padding: 10px;
    border: 2px solid rgb(204, 204, 204);

}
.searchbar:hover{
    cursor: pointer;
}
.btn{
    padding: 10px 20px;
    background-color: #3F72AF;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: #112D4E;

}
.logoimg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.foot{
    background-color: #B6C867;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #DBE2EF;
}
.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.p-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #f1f0f0;
}
.sort{
    margin-right: 30px;
   
}
.srtbtn{
    border: none;
    background-color: #3F72AF;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    margin-right: 50px;
}
.srtbtn:hover{
    cursor: pointer;
    background-color: #112D4E;

}
.foot{
    background-color: #1D546C;
    height: 50px;
    color: white;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}